.icon {
    position: relative;
    top: 20px;
    right: -45.3%;
    //transform: translateX(calc(100% + 210px));
}
.custom-tooltip {
    display: flex;
    align-items: center;
    width: 268px;
    height: 108px;
    font-family: 'Poppins';
    font-size: 14px;
    color: #858585;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: 1px solid #AAAAAA;
    opacity: 1;
}