.password-reset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 6rem auto;
    width: 30rem;
    height: 10rem;
    .password-reset-header{
        margin: 0;
        font-family: 'Roboto';
        font-size: 30px;
        font-weight: 600;
        color: #0085FF;
    }
    .password-reset-text{
        margin: 0;
    }
}



