.radio-item-point {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 10px;
}

.upload-container {
  label {
    transition: all 100ms;            
    // position: absolute;
    font-family: 'Poppins';
    color: #a1a1a1;
    font-weight: bold;
  }
  &:hover {
    label {
      font-weight: bold;
      // position: absolute;
      top: -8px;
      font-size: 12px;
      padding: 3px;
      background: #fff;
      color: #7e7979;
    }
  }
}

.group-input {
  height: 30px;
  border: none;          
  outline: none;          
  margin-bottom: 15px;          
  margin-top: 25px;          
  padding-left: 10px;        
  letter-spacing: 1px;      
  &:focus {            
    border-bottom: 0.1px solid rgb(160, 160, 160);          
  }
}

.customization-container {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .form-header {
    position: relative;
    color: #151b2b;
    font-family: 'Poppins';
    font-size: 20px;
  }
  
  .template-customization {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    .sidebar {
          width: 30%;
          height: 100%;
          background-color: rgb(255, 255, 255);
          /* padding: 10px; */
          padding-right: 30px;
          position: relative;
          border-right: 6px solid;
      .customize-gif {
        position: absolute;
        /* margin-top: 10px; */
        bottom: -53px;
        left: 9px;
      }
      ul {
        list-style: none;
        padding: 0;
      }
      
      li {
        margin-bottom: 18px;
        cursor: pointer;
        transition: color 0.3s ease;
        color: #222222;
        font-size: 20px;
        font-weight: 800;
        font-family: "Poppins";
        display: flex;
        flex-flow: row;
        align-items: center;
        /* gap: 5px; */
        justify-content: space-between;
        width: 174px;
        svg {
          display: none;
        }
        &:hover {
          border-left: 4px solid gold;
          padding-left: 5px;
          svg {
            display: flex;
          }
        }
      }
      
    }
    .formDiv {
      box-sizing: border-box;
      width: 70%;
      .form {
        width: 90%;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 3%;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          // color: red;
          background: #484848;
          width: 2px;
          border-radius: 8px;
        }
        .label {
          font-weight: bold;
        }
        .select-containers, .input-containers {
          display: flex;
          flex-direction: column;
          /* border: 1px solid; */
          border-radius: 4px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          padding-left: 9px;
          margin-bottom: 20px;
          position: relative;
          label {
            transition: all 100ms;            
            position: absolute;
            font-family: 'Poppins';
            color: #a1a1a1;
            font-weight: bold;
          }
          &:hover {
            label {
              font-weight: bold;
              position: absolute;
              top: -8px;
              font-size: 12px;
              padding: 3px;
              background: #fff;
              color: #7e7979;
            }
          }
        }
        .input {
          width: 90%;
          height: 30px;
          border: none;
          outline: none;
          margin-bottom: 5px;
          margin-top: 30px;
          padding-left: 10px;
          letter-spacing: 1px;          
          &:focus {
            border-bottom: 0.1px solid rgb(160, 160, 160);
          }
        }
        
        .select {
          width: 90%;
          height: 30px;
          border: none;
          outline: none;
          margin-bottom: 5px;
          margin-top: 30px;
          padding-left: 10px;
          letter-spacing: 1px;
          &:focus {
            border-bottom: 0.1px solid rgb(160, 160, 160);
          }
          
        }
        .color-input {
          width: 30%;
          height: 30px;
          position: relative;
          left: 5%;
          margin-bottom: 5px;
          margin-top: 30px;
          padding-left: 10px;
          cursor: pointer;
          border: none;
          outline: none;
          border-radius: 4px;
        }
        .upload, .add-product {
          cursor: pointer;
          height: 34px;
          width: 91px;
          border: none;
          border-radius: 4px;
          background-color: #66727e;
          color: white;
          box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.25);
          &:hover {
            background-color: white;
            color: #007bff;
          }
        }
      }
      .form-buttons {
        position: relative;
        top: 5%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        .button {
          width: 45%;
          color: #ffffff;
          padding: 10px;
          border: none;
          cursor: pointer;
          box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.25);
          border-radius: 4px;
        }
        .save, .update {
          background-color: #ffffff;
          color: #000000;
          border: 1px solid #000;     
          &:hover {
            background-color: #3cae9f;
            color: #fff;
            border: none;
          }  
        }
        .publish {
          color: #fff;
          background-color: #000;
          &:hover {
            background-color: #454545;
          }
        }
      }
    }  
  }
}
.upload-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  //height: 300px;
  .file-input {
    height: 50px;
  }
  .image-preview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    //padding: 10px;
    width: 200px;
    height: 200px;
    position: relative;
    //top: 20px;
    margin-bottom: 20px;
    .image-preview {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
  
      img {
        width: 80%;
        height: 80%;
        object-fit: contain;
      }
    }
  }
}

#aboutUs {
  padding: 3px;
  margin-top: 28px;
  margin-bottom: 12px;
  margin: 28px 12px;
  border: 1px solid black;
}



  