.review-stars {
    display: inline-block;
  
    input[type="radio"] {
      display: none;
    }
  
    label {
      float: right;
      cursor: pointer;
      color: #ddd;
    }
  
    label:before {
      content: '\2606';
      font-size: 20px;
    }
  
    input[type="radio"]:checked ~ label:before {
      content: '\2605';
      color: #ffcc00;
    }
  }
  