.template-preview-container{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0.5rem 3rem 0 2rem;
    justify-content: flex-start;
    gap: 5rem;
    align-items: center;
    width: 80vw;
    height: 30vh;
    .template-preview{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 20rem;
        height: 15rem;
        .template-img-div{
            border: 4px solid transparent;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            &:hover{
                border-color: #59AFFF;
                cursor: pointer;
            }
            .template-img{
                border-spacing: 0;
                margin: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    .template-text-span{
        .template-text{
            margin: 0;
            width: 100%;
            height: 10%;
        }
    
    }
    .blog-template-img{
        width: 100%;
        margin: 0;
        height: 100%;
    }
   
}
.edit-template-button{
    width: 11rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    top: 70vh;
    left: 70vw;
    z-index: 100;
    background-color: #00284C;
    border-radius: 0;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    font-family: 'poppins';
}