.pdf-reader-close {
    position: absolute;
    right: 5%;
    top: 7%;
    width: 33px;
    height: 33px;
    transition: all 0ms;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    background-color: #fbdada;
    &:hover {
        color: #ffffff;
        background-color: red;
    }
}

#pdf-viewer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #aaaaaa8e;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    #doc-content {
        width: 100%;
        height: 100%;
    }
}

.update-button {
    transition: all 300ms;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: auto;
    &:hover {
        transform: rotate(360deg);
        width: 25px;
        height:25px;
        background-color: gold;
    }
}

.item-display {
    height: 100%;
    width: 100%;
    overflow: auto;
}
.customers-page-container {
    
    .modal-source {
        height: 60vh;
        width: 70vw;
        margin: auto;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: relative;
        border-top: 4px solid #00284c;
        padding: 20px;

        .loader {
            position: absolute;
            top: 45%;
            left: 45%;
        }

        .modal-close {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 15px;
            padding: 0px;
            border-radius: 50%;
            background: #ff000030;
            color: #fff;
            cursor: pointer;
            margin: 4px;
            &:hover {
                background-color: #fd9999;
            }
        }
    }
}

.customer-modal-customer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(157, 154, 212, 0.42);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custcard {
    width: 153px;
    height: 174px;
    position: relative;
    background: #f6f6f6;
    border-radius: 4px;
    border: 1px solid #00284c;
    box-shadow: 1px 5px 60px 0px rgba(16, 10, 136, 0.4196078431);
}

.custcard .custcard-border-top {
    width: 80%;
    height: 3.5%;
    background: #0085ff;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
}

.custcard span {
 font-weight: 600;
 color: #00284c;
 text-align: center;
 display: block;
 padding-top: 10px;
 font-size: 16px;
}

.custcard .job {
 font-weight: 400;
 color: #00284c;
 display: flex;
 text-align: center;
 padding-top: 5px;
 font-size: 12px;
 align-items: center;
 justify-content: center;
}

.ccustcardard .img {
 width: 70px;
 height: 80px;
 background: #6b64f3;
 border-radius: 15px;
 margin: auto;
 margin-top: 25px;
}

.custcard button {
 padding: 8px 25px;
 display: block;
 margin: auto;
 border-radius: 4px;
 border: 1px solid #00284c;
 margin-top: 30px;
 background: #fff;
 color: #00284c;
 font-weight: 600;
 cursor: pointer;
 position: absolute;
 bottom: 12px;
 left: 14px;
 transition: all 300ms;
}

.custcard button:hover {
 background: #534bf3;
 color: #fff;
 border: none;
 outline: none;
}

.spanna {
    transition: all 300ms;
}

.custcard:hover {
    button {
        background: #534bf3;
        color: #fff;
        border: none;
        outline: none;
    }
    .spanna {
        transform: scale(1.2);
    }
}

.dashboard-page{
    display: flex;
    flex-direction: column;
    background-color: #EFEFEF;
    gap: 2rem;
    padding-top: 3.2rem;
    margin: 0;
    width: 100%;
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
    .top-containers{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 10.5rem;
        .block-view{
            border: 2px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 20%;
            height: 100%;
            h3{
                border-bottom: 1px solid #AAAAAA;
                text-align: center;
                margin: 0;
                font-family: 'poppins';
                font-size: 25px;
                font-weight: 500;
                color: #00284C;
                padding-bottom: 0.8rem;
                width: 80%;
            }
            p{
                font-size: 25px;
                font-family: 'Roboto';
                color: #00284C;
                margin-top: 0.6rem;
            }
        }
    }
    .grid-top {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-right: 5%;
        padding-left: 4%;
        position: relative;
        top: 7%;
        .grid-header{
            font-size: 30px;
            width: 40%;
            font-weight: 700;
            margin: 0;
            font-family: 'Roboto';
            color: #0a4379;
            
        }
        .edit-order-button {
            margin: 0%;
        }

    }
    .grid-container{
        width: 100%;
        height: 68vh;
        display: grid;
        //place-items: center;
        margin-top: 5%;
        margin-right: 5%;
        margin-left: 4%;
        .edit-order-form {
            position: absolute;
            top: 50%; 
            left: 50%; 
            transform: translate(-40%, -50%);
        }
    
    }
}