.section5-form{
    overflow-x: scroll;
    padding: 0;
    border-radius: 15px;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: none;
    background-color: white;
    top: 45vh;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    height: 40vh;
    box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.25);
    h4{
        font-size: 20px;
        justify-self: center;
        width: 12rem;
        text-align: center;
        outline: 1px solid black;
    }
    .label-input-span{
        display: flex;
        gap: 1rem;
    }
    .header-input-style{
        padding-left: 10px;
        border: none;
        width: 20rem;
        height: 2rem;
        font-size: 17px;
        border-radius: 4px;
        box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.25);
        &:focus{
            outline: none;
        }
    }
    .number-input-style{
        width: 5rem;
        height: 2rem;
        font-size: 20px;
        border: none;
        box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.25);
        &:focus{
            outline: none;
        }
    }
    .label-input-span{
        display: flex;
        gap: 1rem;
    }
    .color-color-span{
        display: flex;
        gap: 3rem;
    }
    input[type="text"]{
        @extend .header-input-style
    }
    input[type="number"]{
        @extend .number-input-style
    }
    .upload-image{
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.25);
        position: relative;
        border-radius: 5px;
        width: 10rem;
        height: 3rem;
        input[type="file"]{
            cursor: pointer;
            outline: 1px solid black;
            position: absolute;
            top: 0;
            opacity: 0;
            right: 0;
        }
    }
}